<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        Upcoming Trips:
      </ion-item>
      <ion-text>
        No Upcoming Trips!
        </ion-text>

  <div>
      <ion-button expand="full" (click)="navToExplore()" shape="round">Explore Homes</ion-button>
  </div>


  <ion-item>
      Where you've been:
    </ion-item>

  <div *ngFor="let trip of trips">
      <ion-card>
        <ion-card-content>
            <img src ="{{trip.imgurl}}" (click)="navToDetails()">
            {{trip.housename}} in {{trip.destination}}
        </ion-card-content> 
      </ion-card>
    </div>


</ion-content>