<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        Upcoming Trips:
      </ion-item>
      <ion-text>
        No Upcoming Trips!
        </ion-text>

  <div>
      <ion-button expand="full" (click)="navToExplore()" shape="round">Explore Homes</ion-button>
  </div>


  <ion-item>
      Where you've been:
    </ion-item>



    <ion-grid text-center>
      <ion-row wrap>
        <ion-col> <div *ngFor="let rental of trips">
            <ion-card>
              <ion-card-content>
                  <img src ="{{rental.imgurl}}" (click)="navToDetails(rental)">
                  {{rental.dateFrom}} to {{rental.dateTo}}
              </ion-card-content> 
            </ion-card>
          </div></ion-col>
    
      </ion-row>
    </ion-grid>

</ion-content>