
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item> 
            <ion-avatar slot="start" size="small">
              <img src ="https://scontent.fopo2-2.fna.fbcdn.net/v/t1.0-9/51221242_1018810211649656_3534067690090004480_n.jpg?_nc_cat=104&_nc_ht=scontent.fopo2-2.fna&oh=d41a1647e7cce4d8598645b9ed7945f5&oe=5D8E898E" alt="Sarah Kunkel">
            </ion-avatar>
            <b> Hi, I'm Sarah Kunkel</b>
         </ion-item>

          <div padding>
            </div>
        
           <ion-item> 
              <b> About </b>
           </ion-item>
           <ion-item>
              <ion-icon name="home"></ion-icon>
              <p>Lives in Nashville, Tennessee </p>
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <p> Verified</p>
           </ion-item> 
           

          
        <ion-item>
          <ion-label>About</ion-label>
          Lives in Nashville, Tennessee
        </ion-item>
        <ion-item>
            <ion-label>Bookings Made</ion-label>
            47
          </ion-item>
          <ion-item>
              <ion-label>Reviews Recieves</ion-label>
              47
            </ion-item>
    </ion-list>
    
  
  
  </ion-content>