<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Explore</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  

  <ion-grid text-center>
      <ion-row wrap>
        <ion-col> <div *ngFor="let rental of rentals">
            <ion-card>
              <ion-card-content>
                  <img src ="{{rental.imageUrl}}" (click)="navToDetails(rental)">
                  {{rental.houseName}} in {{rental.location}}
              </ion-card-content> 
            </ion-card>
          </div></ion-col>
    
      </ion-row>
    </ion-grid>
  </ion-content>

 
  
  
  