<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Explore</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div *ngFor="let rental of rentals">
    <ion-card>
      <ion-card-content>
          <img src ="{{rental.imgurl}}" (click)="navToDetails()">
          {{rental.housename}} in {{rental.destination}}
      </ion-card-content> 
    </ion-card>
  </div>

  </ion-content>
  
  
  